<h2>Location Details</h2>
<br>
<div>
    <h4>Location</h4>
    <hr />
    <dl class="row">
        <dt>Location ID</dt>
        <dd>@Model.LocationID</dd>
        <dt>Name</dt>
        <dd>@Model.Name</dd>
        <dt>Address</dt>
        <dd>@Model.Address</dd>
    </dl>
</div>
<p><a asp-action="Index">Back to List</a></p>
