@model Inventory

<h2>Inventory Item Details</h2>
<br>
<div>
    <h4>Inventory Item</h4>
    <hr />
    <dl class="row">
        <dt>Location ID</dt>
        <dd>@Model.LocationID</dd>
        <dt>Item ID</dt>
        <dd>@Model.ItemID</dd>
        <dt>Reorder Quantity</dt>
        <dd>@Model.ReorderQuantity</dd>
        <dt>Reorder Level</dt>
        <dd>@Model.ReorderLevel</dd>
    </dl>
</div>
<p><a asp-action="Index">Back to List</a></p>
