@model Order

<h2>Delete Order</h2>
<br>
<h3>Are you sure you want to delete this order?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt>Order ID</dt>
        <dd>@Model.OrderID</dd>
        <dt>Customer ID</dt>
        <dd>@Model.CustomerID</dd>
        <dt>Order Date</dt>
        <dd>@Model.OrderDate</dd>
    </dl>
</div>
<form asp-action="Delete" asp-route-id="@Model.OrderID" method="post">
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>
</form>
