@model Return

<h2>Create Return</h2>
<br>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="OrderID"></label>
        <input asp-for="OrderID" class="form-control" />
        <span asp-validation-for="OrderID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReturnDate"></label>
        <input asp-for="ReturnDate" type="date" class="form-control" />
        <span asp-validation-for="ReturnDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReturnReason"></label>
        <input asp-for="ReturnReason" class="form-control" />
        <span asp-validation-for="ReturnReason" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<p><a asp-action="Index">Back to List</a></p>
