@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Inventory Management!</h1>
    <h4>Michael Yarmoshik, Timofej Ratsko</h4>
    <p>
        We are developing an Inventory Management System (IMS) for our online and in-person
        business that sells groceries, health products, clothing, tools, office materials, and home goods.
        We are connecting suppliers with customers and organizing any purchases or expenses made
        in our business. This system will allow for greater efficiency and consistency in our business by
        streamlining the process with the use of a database system. We strive to create community and
        quality products for an affordable price, whilst creating a challenge for other companies trying to
        do the same.
    </p>
    <br>
    <h2>ER Diagram</h2>
    <img src="~/images/inventory-management.png" />
    
</div>
