@model Expense

<h2>Create Expense</h2>
<br>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="LocationID"></label>
        <select asp-for="LocationID" asp-items="@(new SelectList(ViewBag.Locations, "LocationID", "Name"))" class="form-control">
            <option value="">Select Location</option>
        </select>
        <span asp-validation-for="LocationID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ItemID"></label>
        <select asp-for="ItemID" asp-items="@(new SelectList(ViewBag.Items, "ItemID", "Name"))" class="form-control">
            <option value="">Select Item</option>
        </select>
        <span asp-validation-for="ItemID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Method"></label>
        <input asp-for="Method" class="form-control" />
        <span asp-validation-for="Method" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Completed"></label>
        <input asp-for="Completed" class="form-control" />
        <span asp-validation-for="Completed" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<p><a asp-action="Index">Back to List</a></p>
